body {
  margin: 0;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

nav {
  display: flex;
  gap: 16px;
}

.card {
  margin-top: 10px;
  background-color: white;
  width: 200px;
  min-height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
